# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/init.el
elpa/*
/smex-items
/.DS_Store
/.python-environments/default/.Python
/.python-environments/default/bin/activate
/.python-environments/*
elpy
/bookmarks
/ido.last
/abbrev_defs
/magithub/cache
games/
recentf
transient/
/ivy-youtube-history
/request/curl-cookie-jar
custom.el
/auto/
/prescient-items
